## Import Libraries

In [51]:
import pandas as pd
import os
import glob

# exploratory data analysis
import matplotlib.pyplot as plt

%matplotlib inline

## Exploratory Data Analysis

In [52]:
FILE_INPUT = './output/all_data_combined.csv'
df_all = pd.read_csv(FILE_INPUT)
df_all

,Usaha /Produk Utama,Total Aset (Rp. Juta),Penjualan Rata-rata Per Tahun (Rp.Juta),Jumlah Tenaga Kerja,Tahun Survey,Onclick,Sektor,Nama Badan Hukum,Jumlah Tenaga Kerja.1,Sistem Penjualan,Target Pasar Utama : Produk Masal,Target Pasar Utama : Produk Spesifik,Tingkat Pesaing Usaha,Total Aset,Penjualan Rata-Rata per Tahun,Proyeksi Pertumbuhan Penjualan,Kebutuhan Pembiayaan Kredit,Nilai Aset yang data menjadi jaminan kredit,Jumlah Dokumen Persyaratan Kredit,Unnamed: 0
0,Air Tebu,5,48,2,2011,?pm=RpTBuwFXpk0U+svpbtrrNw==&mp=Bjv3m4lcInn46O...,"Pertanian, Kehutanan, dan Perikanan",Perorangan,2.0,Retail,Masyarakat Gol Bawah (penghasilan sd 5 juta/bu...,Masyarakat Golongan Menengah (penghasilan Rp 5...,Sedang,"Rp. 5,00 Juta","Rp. 48,00 Juta",10 %/Tahun,"Rp. 5,00 Juta","Rp. 4,00 Juta",4,NaN
1,Amplang Blitar,"71,5",60,3,2014,?pm=rjoizvPnwBFrInEOmzGGCg==&mp=xI6rAeQkygTAn3...,"Pertanian, Kehutanan, dan Perikanan",Perorangan,3.0,Retail,Masyarakat Golongan Menengah (penghasilan Rp 5...,"Tidak Ada 0,00 %",Sedang,"Rp. 71,50 Juta","Rp. 60,00 Juta",10 %/Tahun,"Rp. 10,00 Juta","Rp. 200,00 Juta",3,NaN
2,Bandrek,0,0,1,2012,?pm=6qSIXAe2FXHSkx4JaHGCig==&mp=p1ca+Y2BZCwOZV...,"Pertanian, Kehutanan, dan Perikanan",Perorangan,1.0,Retail,Masyarakat Gol Bawah (penghasilan sd 5 juta/bu...,Masyarakat Gol Bawah (penghasilan sd 5 juta/bu...,Tinggi,"Rp. 0,00 Juta","Rp. 0,00 Juta",0 %/Tahun,"Rp. 5,00 Juta","Rp. 6,00 Juta",7,NaN
3,Bengkoang,13,402,12,2012,?pm=PkfKI5UErkBEkyizF7P8RQ==&mp=p1ca+Y2BZCwOZV...,"Pertanian, Kehutanan, dan Perikanan",Perorangan,12.0,Distributor,Masyarakat Golongan Atas (penghasilan lebih da...,"Tidak Ada 0,00 %",Rendah,"Rp. 13,00 Juta","Rp. 402,00 Juta",2 %/Tahun,"Rp. 8,00 Juta","Rp. 10,00 Juta",5,NaN
4,Beras Dan Sayuran,89,600,3,2011,?pm=NlDG+tr8uWSJBncTyO62YA==&mp=Bjv3m4lcInn46O...,"Pertanian, Kehutanan, dan Perikanan",Perorangan,3.0,Retail,Masyarakat Gol Bawah (penghasilan sd 5 juta/bu...,Masyarakat Gol Bawah (penghasilan sd 5 juta/bu...,Sedang,"Rp. 89,00 Juta","Rp. 600,00 Juta",10 %/Tahun,"Rp. 10,00 Juta","Rp. 24,00 Juta",4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3907,LOKET PEMBAYARAN LISTRIK,314.000.000,40.000.000,1,2013,?pm=aAn3y3aAVRAk2jA22WvOMA==&mp=fOhzApotY5QnAt...,Informasi dan Komunikasi,Perorangan,1.0,Retail,Masyarakat Golongan Menengah (penghasilan Rp 5...,Masyarakat Golongan Menengah (penghasilan Rp 5...,Rendah,"Rp. 314.000.000,00 Juta","Rp. 40.000.000,00 Juta",10 %/Tahun,"Rp. 10,00 Juta","Rp. 158,00 Juta",9,NaN
3908,Warnet,0,0,2,2012,?pm=Uzb+RUOOyBwAgpStvd68zw==&mp=p1ca+Y2BZCwOZV...,Informasi dan Komunikasi,Perorangan,2.0,Retail,Masyarakat Gol Bawah (penghasilan sd 5 juta/bu...,Masyarakat Gol Bawah (penghasilan sd 5 juta/bu...,Sedang,"Rp. 0,00 Juta","Rp. 0,00 Juta",0 %/Tahun,"Rp. 10,00 Juta","Rp. 12,00 Juta",4,NaN
3909,Warnet,54,35,8,2014,?pm=i+QsDPAbnhOVkkq3ryh1nA==&mp=xI6rAeQkygTAn3...,Informasi dan Komunikasi,Perorangan,8.0,Retail,Masyarakat Gol Bawah (penghasilan sd 5 juta/bu...,"Tidak Ada Â 0,00Â %",Tinggi,"Rp. 54,00 Juta","Rp. 35,00 Juta",- %/Tahun,"Rp. 1,00 Juta","Rp. 120,00 Juta",1,NaN
3910,Penjualan Pulsa,"4,6",30,1,2014,?pm=Ap/omNIg7Sjp88sSosQkXw==&mp=xI6rAeQkygTAn3...,Informasi dan Komunikasi,Perorangan,1.0,Retail,Masyarakat Golongan Menengah (penghasilan Rp 5...,"Tidak Ada Â 0,00Â %",Sedang,"Rp. 4,60 Juta","Rp. 30,00 Juta",- %/Tahun,"Rp. 10,00 Juta","Rp. 150,00 Juta",2,NaN
3911,Pulsa,"23,3","92,4",2,2014,?pm=zuLy7wlseazGf2OM5MueJg==&mp=xI6rAeQkygTAn3...,Informasi dan Komunikasi,Perorangan,2.0,Retail,Masyarakat Golongan Menengah (penghasilan Rp 5...,"Tidak Ada Â 0,00Â %",Rendah,"Rp. 23,30 Juta","Rp. 92,40 Juta",- %/Tahun,"Rp. 5,00 Juta","Rp. 12,00 Juta",3,NaN

In [53]:
df_all.drop(['Onclick', 'Unnamed: 0'], axis=1, inplace=True)

In [54]:
# list of columns
df_all.columns

Index(['Usaha /Produk Utama', 'Total Aset (Rp. Juta)',
       'Penjualan Rata-rata Per Tahun (Rp.Juta)', 'Jumlah Tenaga Kerja',
       'Tahun Survey', 'Sektor', 'Nama Badan Hukum', 'Jumlah Tenaga Kerja.1',
       'Sistem Penjualan', 'Target Pasar Utama : Produk Masal',
       'Target Pasar Utama : Produk Spesifik', 'Tingkat Pesaing Usaha',
       'Total Aset', 'Penjualan Rata-Rata per Tahun',
       'Proyeksi Pertumbuhan Penjualan', 'Kebutuhan Pembiayaan Kredit ',
       'Nilai Aset yang data menjadi jaminan kredit',
       'Jumlah Dokumen Persyaratan Kredit'],
      dtype='object')

In [55]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3912 entries, 0 to 3911
Data columns (total 18 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Usaha /Produk Utama                          3911 non-null   object
 1   Total Aset (Rp. Juta)                        3912 non-null   object
 2   Penjualan Rata-rata Per Tahun (Rp.Juta)      3912 non-null   object
 3   Jumlah Tenaga Kerja                          3912 non-null   int64
 4   Tahun Survey                                 3912 non-null   int64
 5   Sektor                                       3912 non-null   object
 6   Nama Badan Hukum                             3786 non-null   object
 7   Jumlah Tenaga Kerja.1                        3786 non-null   float64
 8   Sistem Penjualan                             3786 non-null   object
 9   Target Pasar Utama : Produk Masal            3912 non-null   object
 10  Target Pasar Utama : Produk Spesifik         3912 non-null   object
 11  Tingkat Pesaing Usaha                        3786 non-null   object
 12  Total Aset                                   3912 non-null   object
 13  Penjualan Rata-Rata per Tahun                3912 non-null   object
 14  Proyeksi Pertumbuhan Penjualan               3912 non-null   object
 15  Kebutuhan Pembiayaan Kredit                  3912 non-null   object
 16  Nilai Aset yang data menjadi jaminan kredit  3912 non-null   object
 17  Jumlah Dokumen Persyaratan Kredit            3786 non-null   object
dtypes: float64(1), int64(2), object(15)
memory usage: 550.2+ KB

In [56]:
df_all.drop_duplicates(inplace=True)

In [57]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2997 entries, 0 to 3911
Data columns (total 18 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Usaha /Produk Utama                          2996 non-null   object
 1   Total Aset (Rp. Juta)                        2997 non-null   object
 2   Penjualan Rata-rata Per Tahun (Rp.Juta)      2997 non-null   object
 3   Jumlah Tenaga Kerja                          2997 non-null   int64
 4   Tahun Survey                                 2997 non-null   int64
 5   Sektor                                       2997 non-null   object
 6   Nama Badan Hukum                             2891 non-null   object
 7   Jumlah Tenaga Kerja.1                        2891 non-null   float64
 8   Sistem Penjualan                             2891 non-null   object
 9   Target Pasar Utama : Produk Masal            2997 non-null   object
 10  Target Pasar Utama : Produk Spesifik         2997 non-null   object
 11  Tingkat Pesaing Usaha                        2891 non-null   object
 12  Total Aset                                   2997 non-null   object
 13  Penjualan Rata-Rata per Tahun                2997 non-null   object
 14  Proyeksi Pertumbuhan Penjualan               2997 non-null   object
 15  Kebutuhan Pembiayaan Kredit                  2997 non-null   object
 16  Nilai Aset yang data menjadi jaminan kredit  2997 non-null   object
 17  Jumlah Dokumen Persyaratan Kredit            2891 non-null   object
dtypes: float64(1), int64(2), object(15)
memory usage: 444.9+ KB

### Converting String to Numeric

In [58]:
# fungsi bantuan untuk mengkonversi fitur menjadi data type integer
import numpy as np
def convert_to_int_helper(feature):
    try:
        return int(feature)
    except:
        return np.nan

In [59]:
df_all['Jumlah Dokumen Persyaratan Kredit'] = df_all['Jumlah Dokumen Persyaratan Kredit'].apply(convert_to_int_helper)

In [60]:
kolom_rup=['Kebutuhan Pembiayaan Kredit ','Nilai Aset yang data menjadi jaminan kredit']

for kolom in kolom_rup:
    df_all[kolom] = df_all[kolom].str.replace('Rp. ', '').str.replace(' ', '').str.replace('Juta', '')
    df_all[kolom] = df_all[kolom].str.replace(',00', '')

In [61]:
df_all['Kebutuhan Pembiayaan Kredit '] = df_all['Kebutuhan Pembiayaan Kredit '].apply(convert_to_int_helper)
df_all['Nilai Aset yang data menjadi jaminan kredit'] = df_all['Nilai Aset yang data menjadi jaminan kredit'].apply(convert_to_int_helper)

In [62]:
df_all.drop(columns=["Total Aset", "Penjualan Rata-Rata per Tahun", "Jumlah Tenaga Kerja.1"], inplace=True)

In [63]:
df_all

,Usaha /Produk Utama,Total Aset (Rp. Juta),Penjualan Rata-rata Per Tahun (Rp.Juta),Jumlah Tenaga Kerja,Tahun Survey,Sektor,Nama Badan Hukum,Sistem Penjualan,Target Pasar Utama : Produk Masal,Target Pasar Utama : Produk Spesifik,Tingkat Pesaing Usaha,Proyeksi Pertumbuhan Penjualan,Kebutuhan Pembiayaan Kredit,Nilai Aset yang data menjadi jaminan kredit,Jumlah Dokumen Persyaratan Kredit
0,Air Tebu,5,48,2,2011,"Pertanian, Kehutanan, dan Perikanan",Perorangan,Retail,Masyarakat Gol Bawah (penghasilan sd 5 juta/bu...,Masyarakat Golongan Menengah (penghasilan Rp 5...,Sedang,10 %/Tahun,5.0,4.0,4.0
1,Amplang Blitar,"71,5",60,3,2014,"Pertanian, Kehutanan, dan Perikanan",Perorangan,Retail,Masyarakat Golongan Menengah (penghasilan Rp 5...,"Tidak Ada 0,00 %",Sedang,10 %/Tahun,10.0,200.0,3.0
2,Bandrek,0,0,1,2012,"Pertanian, Kehutanan, dan Perikanan",Perorangan,Retail,Masyarakat Gol Bawah (penghasilan sd 5 juta/bu...,Masyarakat Gol Bawah (penghasilan sd 5 juta/bu...,Tinggi,0 %/Tahun,5.0,6.0,7.0
3,Bengkoang,13,402,12,2012,"Pertanian, Kehutanan, dan Perikanan",Perorangan,Distributor,Masyarakat Golongan Atas (penghasilan lebih da...,"Tidak Ada 0,00 %",Rendah,2 %/Tahun,8.0,10.0,5.0
4,Beras Dan Sayuran,89,600,3,2011,"Pertanian, Kehutanan, dan Perikanan",Perorangan,Retail,Masyarakat Gol Bawah (penghasilan sd 5 juta/bu...,Masyarakat Gol Bawah (penghasilan sd 5 juta/bu...,Sedang,10 %/Tahun,10.0,24.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3907,LOKET PEMBAYARAN LISTRIK,314.000.000,40.000.000,1,2013,Informasi dan Komunikasi,Perorangan,Retail,Masyarakat Golongan Menengah (penghasilan Rp 5...,Masyarakat Golongan Menengah (penghasilan Rp 5...,Rendah,10 %/Tahun,10.0,158.0,9.0
3908,Warnet,0,0,2,2012,Informasi dan Komunikasi,Perorangan,Retail,Masyarakat Gol Bawah (penghasilan sd 5 juta/bu...,Masyarakat Gol Bawah (penghasilan sd 5 juta/bu...,Sedang,0 %/Tahun,10.0,12.0,4.0
3909,Warnet,54,35,8,2014,Informasi dan Komunikasi,Perorangan,Retail,Masyarakat Gol Bawah (penghasilan sd 5 juta/bu...,"Tidak Ada Â 0,00Â %",Tinggi,- %/Tahun,1.0,120.0,1.0
3910,Penjualan Pulsa,"4,6",30,1,2014,Informasi dan Komunikasi,Perorangan,Retail,Masyarakat Golongan Menengah (penghasilan Rp 5...,"Tidak Ada Â 0,00Â %",Sedang,- %/Tahun,10.0,150.0,2.0
3911,Pulsa,"23,3","92,4",2,2014,Informasi dan Komunikasi,Perorangan,Retail,Masyarakat Golongan Menengah (penghasilan Rp 5...,"Tidak Ada Â 0,00Â %",Rendah,- %/Tahun,5.0,12.0,3.0

In [64]:
kolom_rup=['Proyeksi Pertumbuhan Penjualan']

for kolom in kolom_rup:
    df_all[kolom] = df_all[kolom].str.replace(' ', '').str.replace('%/Tahun', '')
    df_all[kolom] = df_all[kolom].apply(convert_to_int_helper)
    df_all[kolom] = df_all[kolom] / 100

In [65]:
df_all

,Usaha /Produk Utama,Total Aset (Rp. Juta),Penjualan Rata-rata Per Tahun (Rp.Juta),Jumlah Tenaga Kerja,Tahun Survey,Sektor,Nama Badan Hukum,Sistem Penjualan,Target Pasar Utama : Produk Masal,Target Pasar Utama : Produk Spesifik,Tingkat Pesaing Usaha,Proyeksi Pertumbuhan Penjualan,Kebutuhan Pembiayaan Kredit,Nilai Aset yang data menjadi jaminan kredit,Jumlah Dokumen Persyaratan Kredit
0,Air Tebu,5,48,2,2011,"Pertanian, Kehutanan, dan Perikanan",Perorangan,Retail,Masyarakat Gol Bawah (penghasilan sd 5 juta/bu...,Masyarakat Golongan Menengah (penghasilan Rp 5...,Sedang,0.10,5.0,4.0,4.0
1,Amplang Blitar,"71,5",60,3,2014,"Pertanian, Kehutanan, dan Perikanan",Perorangan,Retail,Masyarakat Golongan Menengah (penghasilan Rp 5...,"Tidak Ada 0,00 %",Sedang,0.10,10.0,200.0,3.0
2,Bandrek,0,0,1,2012,"Pertanian, Kehutanan, dan Perikanan",Perorangan,Retail,Masyarakat Gol Bawah (penghasilan sd 5 juta/bu...,Masyarakat Gol Bawah (penghasilan sd 5 juta/bu...,Tinggi,0.00,5.0,6.0,7.0
3,Bengkoang,13,402,12,2012,"Pertanian, Kehutanan, dan Perikanan",Perorangan,Distributor,Masyarakat Golongan Atas (penghasilan lebih da...,"Tidak Ada 0,00 %",Rendah,0.02,8.0,10.0,5.0
4,Beras Dan Sayuran,89,600,3,2011,"Pertanian, Kehutanan, dan Perikanan",Perorangan,Retail,Masyarakat Gol Bawah (penghasilan sd 5 juta/bu...,Masyarakat Gol Bawah (penghasilan sd 5 juta/bu...,Sedang,0.10,10.0,24.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3907,LOKET PEMBAYARAN LISTRIK,314.000.000,40.000.000,1,2013,Informasi dan Komunikasi,Perorangan,Retail,Masyarakat Golongan Menengah (penghasilan Rp 5...,Masyarakat Golongan Menengah (penghasilan Rp 5...,Rendah,0.10,10.0,158.0,9.0
3908,Warnet,0,0,2,2012,Informasi dan Komunikasi,Perorangan,Retail,Masyarakat Gol Bawah (penghasilan sd 5 juta/bu...,Masyarakat Gol Bawah (penghasilan sd 5 juta/bu...,Sedang,0.00,10.0,12.0,4.0
3909,Warnet,54,35,8,2014,Informasi dan Komunikasi,Perorangan,Retail,Masyarakat Gol Bawah (penghasilan sd 5 juta/bu...,"Tidak Ada Â 0,00Â %",Tinggi,NaN,1.0,120.0,1.0
3910,Penjualan Pulsa,"4,6",30,1,2014,Informasi dan Komunikasi,Perorangan,Retail,Masyarakat Golongan Menengah (penghasilan Rp 5...,"Tidak Ada Â 0,00Â %",Sedang,NaN,10.0,150.0,2.0
3911,Pulsa,"23,3","92,4",2,2014,Informasi dan Komunikasi,Perorangan,Retail,Masyarakat Golongan Menengah (penghasilan Rp 5...,"Tidak Ada Â 0,00Â %",Rendah,NaN,5.0,12.0,3.0

In [66]:
def separator(x):
    if 'gol bawah' in x.lower():
        return 'golongan bawah'
    elif 'golongan atas' in x.lower():
        return 'golongan atas'
    elif 'golongan menengah' in x.lower():
        return 'golongan menengah'
    elif 'memenuhi order' in x.lower():
        return 'memenuhi order distributor/exportir/trader'
    elif 'tidak ada'in x.lower():
        return 'tidak ada'
    else:
        return np.NaN

In [67]:
df_all['Sasaran Produk Massal'] = df_all['Target Pasar Utama : Produk Masal'].apply(separator)
df_all['Persentase Massal'] = df_all['Target Pasar Utama : Produk Masal'].apply(lambda x: str(x.split('\xa0')[-2])[:-3])
df_all['Sasaran Produk Spesifik'] = df_all['Target Pasar Utama : Produk Spesifik'].apply(separator)
df_all['Persentase Spesifik'] = df_all['Target Pasar Utama : Produk Spesifik'].apply(lambda x: str(x.split('\xa0')[-2])[:-3])

df_all.drop('Target Pasar Utama : Produk Masal', axis=1, inplace=True)
df_all.drop('Target Pasar Utama : Produk Spesifik', axis=1, inplace=True)

In [68]:
df_all

,Usaha /Produk Utama,Total Aset (Rp. Juta),Penjualan Rata-rata Per Tahun (Rp.Juta),Jumlah Tenaga Kerja,Tahun Survey,Sektor,Nama Badan Hukum,Sistem Penjualan,Tingkat Pesaing Usaha,Proyeksi Pertumbuhan Penjualan,Kebutuhan Pembiayaan Kredit,Nilai Aset yang data menjadi jaminan kredit,Jumlah Dokumen Persyaratan Kredit,Sasaran Produk Massal,Persentase Massal,Sasaran Produk Spesifik,Persentase Spesifik
0,Air Tebu,5,48,2,2011,"Pertanian, Kehutanan, dan Perikanan",Perorangan,Retail,Sedang,0.10,5.0,4.0,4.0,golongan bawah,100,golongan menengah,0
1,Amplang Blitar,"71,5",60,3,2014,"Pertanian, Kehutanan, dan Perikanan",Perorangan,Retail,Sedang,0.10,10.0,200.0,3.0,golongan menengah,100,tidak ada,0
2,Bandrek,0,0,1,2012,"Pertanian, Kehutanan, dan Perikanan",Perorangan,Retail,Tinggi,0.00,5.0,6.0,7.0,golongan bawah,0,golongan bawah,0
3,Bengkoang,13,402,12,2012,"Pertanian, Kehutanan, dan Perikanan",Perorangan,Distributor,Rendah,0.02,8.0,10.0,5.0,golongan atas,100,tidak ada,0
4,Beras Dan Sayuran,89,600,3,2011,"Pertanian, Kehutanan, dan Perikanan",Perorangan,Retail,Sedang,0.10,10.0,24.0,4.0,golongan bawah,100,golongan bawah,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3907,LOKET PEMBAYARAN LISTRIK,314.000.000,40.000.000,1,2013,Informasi dan Komunikasi,Perorangan,Retail,Rendah,0.10,10.0,158.0,9.0,golongan menengah,"100,",golongan menengah,"100,"
3908,Warnet,0,0,2,2012,Informasi dan Komunikasi,Perorangan,Retail,Sedang,0.00,10.0,12.0,4.0,golongan bawah,"50,",golongan bawah,"50,"
3909,Warnet,54,35,8,2014,Informasi dan Komunikasi,Perorangan,Retail,Tinggi,NaN,1.0,120.0,1.0,golongan bawah,"100,",tidak ada,"0,"
3910,Penjualan Pulsa,"4,6",30,1,2014,Informasi dan Komunikasi,Perorangan,Retail,Sedang,NaN,10.0,150.0,2.0,golongan menengah,"100,",tidak ada,"0,"
3911,Pulsa,"23,3","92,4",2,2014,Informasi dan Komunikasi,Perorangan,Retail,Rendah,NaN,5.0,12.0,3.0,golongan menengah,"100,",tidak ada,"0,"

In [76]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2997 entries, 0 to 3911
Data columns (total 17 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   Usaha /Produk Utama                          2996 non-null   object
 1   Total Aset (Rp. Juta)                        2997 non-null   object
 2   Penjualan Rata-rata Per Tahun (Rp.Juta)      2997 non-null   object
 3   Jumlah Tenaga Kerja                          2997 non-null   int64
 4   Tahun Survey                                 2997 non-null   int64
 5   Sektor                                       2997 non-null   object
 6   Nama Badan Hukum                             2891 non-null   object
 7   Sistem Penjualan                             2891 non-null   object
 8   Tingkat Pesaing Usaha                        2891 non-null   object
 9   Proyeksi Pertumbuhan Penjualan               2446 non-null   float64
 10  Kebutuhan Pembiayaan Kredit                  2793 non-null   float64
 11  Nilai Aset yang data menjadi jaminan kredit  2910 non-null   float64
 12  Jumlah Dokumen Persyaratan Kredit            2741 non-null   float64
 13  Sasaran Produk Massal                        2891 non-null   object
 14  Persentase Massal                            1892 non-null   float64
 15  Sasaran Produk Spesifik                      2891 non-null   object
 16  Persentase Spesifik                          2997 non-null   object
dtypes: float64(5), int64(2), object(10)
memory usage: 421.5+ KB

In [70]:
import re
def remove_comma(data):
    if ',' in data:
        new_string = re.sub(r'[^\w\s]', '', data)
        return new_string
    else: return data
    
df_all['Persentase Massal'] = df_all['Persentase Massal'].apply(remove_comma)

In [72]:
df_all['Persentase Massal'] = df_all['Persentase Massal'].apply(convert_to_int_helper)

In [78]:
df_all

,Usaha /Produk Utama,Total Aset (Rp. Juta),Penjualan Rata-rata Per Tahun (Rp.Juta),Jumlah Tenaga Kerja,Tahun Survey,Sektor,Nama Badan Hukum,Sistem Penjualan,Tingkat Pesaing Usaha,Proyeksi Pertumbuhan Penjualan,Kebutuhan Pembiayaan Kredit,Nilai Aset yang data menjadi jaminan kredit,Jumlah Dokumen Persyaratan Kredit,Sasaran Produk Massal,Persentase Massal,Sasaran Produk Spesifik,Persentase Spesifik
0,Air Tebu,5,48,2,2011,"Pertanian, Kehutanan, dan Perikanan",Perorangan,Retail,Sedang,0.10,5.0,4.0,4.0,golongan bawah,100.0,golongan menengah,0
1,Amplang Blitar,"71,5",60,3,2014,"Pertanian, Kehutanan, dan Perikanan",Perorangan,Retail,Sedang,0.10,10.0,200.0,3.0,golongan menengah,100.0,tidak ada,0
2,Bandrek,0,0,1,2012,"Pertanian, Kehutanan, dan Perikanan",Perorangan,Retail,Tinggi,0.00,5.0,6.0,7.0,golongan bawah,0.0,golongan bawah,0
3,Bengkoang,13,402,12,2012,"Pertanian, Kehutanan, dan Perikanan",Perorangan,Distributor,Rendah,0.02,8.0,10.0,5.0,golongan atas,100.0,tidak ada,0
4,Beras Dan Sayuran,89,600,3,2011,"Pertanian, Kehutanan, dan Perikanan",Perorangan,Retail,Sedang,0.10,10.0,24.0,4.0,golongan bawah,100.0,golongan bawah,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3907,LOKET PEMBAYARAN LISTRIK,314.000.000,40.000.000,1,2013,Informasi dan Komunikasi,Perorangan,Retail,Rendah,0.10,10.0,158.0,9.0,golongan menengah,100.0,golongan menengah,"100,"
3908,Warnet,0,0,2,2012,Informasi dan Komunikasi,Perorangan,Retail,Sedang,0.00,10.0,12.0,4.0,golongan bawah,50.0,golongan bawah,"50,"
3909,Warnet,54,35,8,2014,Informasi dan Komunikasi,Perorangan,Retail,Tinggi,NaN,1.0,120.0,1.0,golongan bawah,100.0,tidak ada,"0,"
3910,Penjualan Pulsa,"4,6",30,1,2014,Informasi dan Komunikasi,Perorangan,Retail,Sedang,NaN,10.0,150.0,2.0,golongan menengah,100.0,tidak ada,"0,"
3911,Pulsa,"23,3","92,4",2,2014,Informasi dan Komunikasi,Perorangan,Retail,Rendah,NaN,5.0,12.0,3.0,golongan menengah,100.0,tidak ada,"0,"

In [79]:
df_all['Persentase Massal'].unique()

array([1.0e+02, 0.0e+00, 5.0e+01, 7.0e+01, 3.0e+01, 2.0e+01, 4.0e+01,
       8.0e+01, 9.0e+01, 6.0e+01, 2.5e+01, 1.0e+01, 7.5e+01, 3.7e+01,
       5.0e+00, 8.5e+01, 2.0e+00, 9.5e+01, 1.0e+04, 6.0e+03, 5.0e+03,
       1.0e+03, 8.0e+03, 3.0e+03, 7.0e+03, 1.5e+03, 5.0e+02, 2.0e+03,
       4.0e+03, 9.0e+03, 6.5e+03, 2.5e+03, 7.5e+03, 8.5e+03, 9.5e+03,
       4.5e+03,     nan])