In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
url = 'https://www.bi.go.id/bisaid/bisaid/GetSektor?Condition=%7C'
page = requests.get(url)
page_json = page.json()
page_json

[{'KODE_SEKTOR': 1.0,
  'SEKTOR': 'Pertanian, Kehutanan, dan Perikanan',
  'JML_PERUSAHAAN': 1108.0},
 {'KODE_SEKTOR': 2.0,
  'SEKTOR': 'Pertambangan dan Penggalian',
  'JML_PERUSAHAAN': 22.0},
 {'KODE_SEKTOR': 3.0,
  'SEKTOR': 'Industri Pengolahan',
  'JML_PERUSAHAAN': 4130.0},
 {'KODE_SEKTOR': 4.0,
  'SEKTOR': 'Pengadaan Listrik, Gas, Uap Air Panas dan Udara Dingin',
  'JML_PERUSAHAAN': 12.0},
 {'KODE_SEKTOR': 5.0,
  'SEKTOR': 'Pengadaan Air, Pengelolaan Sampah dan Daur Ulang, Pembuangan dan Pembersihan Limbah dan Sampah',
  'JML_PERUSAHAAN': 29.0},
 {'KODE_SEKTOR': 6.0, 'SEKTOR': 'Konstruksi', 'JML_PERUSAHAAN': 162.0},
 {'KODE_SEKTOR': 7.0,
  'SEKTOR': 'Perdagangan Besar dan Eceran Reparasi dan Perawatan Mobil dan Sepeda Motor',
  'JML_PERUSAHAAN': 5192.0},
 {'KODE_SEKTOR': 8.0,
  'SEKTOR': 'Transportasi dan Pergudangan',
  'JML_PERUSAHAAN': 42.0},
 {'KODE_SEKTOR': 9.0,
  'SEKTOR': 'Penyediaan Akomodasi dan Penyediaan Makan Minum',
  'JML_PERUSAHAAN': 844.0},
 {'KODE_SEKTOR': 10.0,
  'SEKTOR': 'Informasi dan Komunikasi',
  'JML_PERUSAHAAN': 55.0},
 {'KODE_SEKTOR': 11.0,
  'SEKTOR': 'Jasa Keuangan dan Asuransi',
  'JML_PERUSAHAAN': 20.0},
 {'KODE_SEKTOR': 12.0, 'SEKTOR': 'Real Estate', 'JML_PERUSAHAAN': 1.0},
 {'KODE_SEKTOR': 13.0,
  'SEKTOR': 'Jasa Profesional, Ilmiah dan Teknis',
  'JML_PERUSAHAAN': 363.0},
 {'KODE_SEKTOR': 14.0,
  'SEKTOR': 'Jasa Persewaan dan Sewa Guna Usaha Tanpa Hak Opsi, Ketenagakerjaan, Agen Perjalanan dan Penunjang Usaha Lainnya',
  'JML_PERUSAHAAN': 99.0},
 {'KODE_SEKTOR': 15.0,
  'SEKTOR': 'Administrasi Pemerintahan, Pertahanan dan Jaminan Sosial Wajib',
  'JML_PERUSAHAAN': 1.0},
 {'KODE_SEKTOR': 16.0, 'SEKTOR': 'Jasa Pendidikan', 'JML_PERUSAHAAN': 16.0},
 {'KODE_SEKTOR': 17.0,
  'SEKTOR': 'Jasa Kesehatan dan Kegiatan Sosial',
  'JML_PERUSAHAAN': 16.0},
 {'KODE_SEKTOR': 18.0,
  'SEKTOR': 'Kesenian, Hiburan dan Rekreasi',
  'JML_PERUSAHAAN': 51.0},
 {'KODE_SEKTOR': 19.0,
  'SEKTOR': 'Kegiatan Jasa Lainnya',
  'JML_PERUSAHAAN': 590.0},
 {'KODE_SEKTOR': 20.0,
  'SEKTOR': 'Jasa Perorangan yg Melayani RT, Keg yg Menghasilkan Brg & Jasa oleh RT yg Digunakan Sendiri utk Memenuhi Kebutuhan',
  'JML_PERUSAHAAN': 77.0}]

In [3]:
df_sektor = pd.DataFrame(page_json)[['SEKTOR', 'JML_PERUSAHAAN']]
print(df_sektor.shape)
# df_sektor.to_csv('df_sektor.csv')
df_sektor

(20, 2)

                                               SEKTOR  JML_PERUSAHAAN
0                 Pertanian, Kehutanan, dan Perikanan          1108.0
1                         Pertambangan dan Penggalian            22.0
2                                 Industri Pengolahan          4130.0
3   Pengadaan Listrik, Gas, Uap Air Panas dan Udar...            12.0
4   Pengadaan Air, Pengelolaan Sampah dan Daur Ula...            29.0
5                                          Konstruksi           162.0
6   Perdagangan Besar dan Eceran Reparasi dan Pera...          5192.0
7                        Transportasi dan Pergudangan            42.0
8     Penyediaan Akomodasi dan Penyediaan Makan Minum           844.0
9                            Informasi dan Komunikasi            55.0
10                         Jasa Keuangan dan Asuransi            20.0
11                                        Real Estate             1.0
12                Jasa Profesional, Ilmiah dan Teknis           363.0
13  Jasa Persewaan dan Sewa Guna Usaha Tanpa Hak O...            99.0
14  Administrasi Pemerintahan, Pertahanan dan Jami...             1.0
15                                    Jasa Pendidikan            16.0
16                 Jasa Kesehatan dan Kegiatan Sosial            16.0
17                     Kesenian, Hiburan dan Rekreasi            51.0
18                              Kegiatan Jasa Lainnya           590.0
19  Jasa Perorangan yg Melayani RT, Keg yg Menghas...            77.0

In [4]:
list_detail = []
for i in range(0, df_sektor.shape[0]):
    print(i+1)
    detail_url = 'https://www.bi.go.id/bisaid/bisaid/GetSektorDetail?Condition=ALL%7CALL%7C'+ str(i+1) + '%7C0%7C10'
    list_temp = requests.get(detail_url).json()
    
    if 'result' not in list_temp:
        if i == 0:
            list_detail = list_temp
        else:
            list_detail = list_detail + list_temp

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [5]:
df_detail = pd.DataFrame(list_detail)
# df_detail.to_csv('df_detail.csv')
df_detail

,KODE_REFF,TAHUN_PENELITIAN,NAMA,PENGUSAHA,KABUPATEN,PROVINSI,USAHA_UTAMA,PRODUK_UTAMA,SEKTOR,TENAGA_KERJA,TOTAL_ASET,PENJUALAN_TAHUN,KEBUTUHAN_PEMBIAYAAN
0,35100024,2012,Kios Peracangan,Ainah,3510,1200,Pupuk,Pupuk Urea Dan Ponstan Dll,1.0,1.0,361.00,325.00,6.0
1,36030154,2011,CANDRA KIRANA,M.barmawi,3671,0200,Rumah Makan Ikan Bakar,Ikan Bakar,1.0,15.0,883.00,339.99,0.0
2,64710457,2013,Kangkung Gn IV,Sudjito,6471,5400,Kebun,Kangkung,1.0,2.0,201.70,3.00,10.0
3,64010090,2014,Petani Karet,Harnani,6401,5400,Perkebunan Karet,Karet,1.0,1.0,22.50,9.00,10.0
4,11080178,2014,Pekebun,Yulinar,1111,3200,Tanah Palawija,Bibit,1.0,1.0,91.10,44.40,5.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2993,64710751,2015,Es Cream,Yoto,6471,5400,Es Cream,Es Cream,20.0,1.0,65.26,16.50,10.0
2994,19050001,2015,Kinyang Workshop,Taufan Dwi Darmawan,1903,3700,Kerajinan Batu Akik,Batu Akik,20.0,1.0,60.00,180.00,10.0
2995,15710100,2014,Chania Tailor,Adriansyah Chan,1571,3100,Penjahit,Jasa Menjahit,20.0,1.0,84.00,24.00,10.0
2996,15710139,2014,Penjahit Baju Wanita Yusmawati,Yusmawati,1571,3100,Menjahit Pakaian,Baju Hasil Jahitan,20.0,1.0,101.40,72.00,0.0
2997,15040066,2014,Loundry Tri,Tri Widiastuti,1504,3100,Loundry,Pakaian Bersih,20.0,2.0,13.30,18.00,7.0

In [6]:
import numpy as np
np.set_printoptions(threshold=np.inf)
print(df_detail['SEKTOR'].unique())

[ 1.  2.  3.  4.  5.  6.  7.  8.  9. 10. 11. 13. 14. 16. 17. 18. 19. 20.]

In [7]:
import urllib3

In [8]:
# %pip uninstall selenium

In [9]:
%pip install -U selenium

Requirement already satisfied: selenium in c:\users\indri\anaconda3\lib\site-packages (4.6.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\indri\anaconda3\lib\site-packages (from selenium) (1.26.11)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\indri\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\indri\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\indri\anaconda3\lib\site-packages (from selenium) (2022.9.14)
Requirement already satisfied: attrs>=19.2.0 in c:\users\indri\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\indri\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in c:\users\indri\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\indri\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sortedcontainers in c:\users\indri\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\indri\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.0.1)
Requirement already satisfied: cffi>=1.14 in c:\users\indri\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: sniffio in c:\users\indri\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\indri\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\indri\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\indri\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\indri\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
from selenium import webdriver
driver = webdriver.PhantomJS()
url = 'https://www.bi.go.id/bisaid/'
driver.get(url)
p_element = driver.find_element_by_id(id_='tb_sektor')
print(p_element.text)

AttributeError: module 'selenium.webdriver' has no attribute 'PhantomJS'

In [ ]:
url = 'https://www.bi.go.id/bisaid/'
page = requests.get(url)
soup = BeautifulSoup(page.content, 'html.parser')
soup

In [ ]:
table1 = soup.find('table', id='tb_sektor')
table1

In [ ]:
import re
k = x['onclick']
re.findall("'(\w+)'",k)

In [ ]:
headers = []
for i in table1.find_all('th'):
    header = i.text
    headers.append(header)
    
headers

In [ ]:
df = pd.DataFrame(columns=headers)

In [ ]:
for i in table1.find_all('tbody'):
    print(i.text)

In [ ]:
for j in table1.find_all('tr')[1:]:
    row_data = j.find_
    all('td')
    row = [i.text for i in row_data]
    length = len(df)
    print(row)
    df.loc[length] = row

In [ ]:
table = pd.read_html(url)
print(table[2])