# Selenium

In [1]:
import requests 
from selenium import webdriver
from bs4 import BeautifulSoup 
import time
url = 'https://www.bi.go.id/bisaid'
driver = webdriver.Chrome()
driver.get(url)
time.sleep(5)
html = driver.page_source
soup = BeautifulSoup(html,'html.parser')
table1 = soup.find('table', id='tb_sektor')
table1

<table class="table table-striped mb-0" id="tb_sektor">
<thead>
<tr>
<th class="pl-4" rowspan="2" scope="col" style="width: 80%;">Sektor</th>
<th rowspan="2" scope="col" style="width: 15%;">Jumlah Perusahaan</th>
</tr>
</thead>
<tbody><tr><td align="left" class="text-decoration-none"><a href="javascript:void(0)" onclick='_sektordetail("1|Pertanian, Kehutanan, dan Perikanan")'>Pertanian, Kehutanan, dan Perikanan</a></td><td align="center" style="vertical-align:middle">1108</td></tr><tr><td align="left" class="text-decoration-none"><a href="javascript:void(0)" onclick='_sektordetail("2|Pertambangan dan Penggalian")'>Pertambangan dan Penggalian</a></td><td align="center" style="vertical-align:middle">22</td></tr><tr><td align="left" class="text-decoration-none"><a href="javascript:void(0)" onclick='_sektordetail("3|Industri Pengolahan")'>Industri Pengolahan</a></td><td align="center" style="vertical-align:middle">4130</td></tr><tr><td align="left" class="text-decoration-none"><a href="javascript:void(0)" onclick='_sektordetail("4|Pengadaan Listrik, Gas, Uap Air Panas dan Udara Dingin")'>Pengadaan Listrik, Gas, Uap Air Panas dan Udara Dingin</a></td><td align="center" style="vertical-align:middle">12</td></tr><tr><td align="left" class="text-decoration-none"><a href="javascript:void(0)" onclick='_sektordetail("5|Pengadaan Air, Pengelolaan Sampah dan Daur Ulang, Pembuangan dan Pembersihan Limbah dan Sampah")'>Pengadaan Air, Pengelolaan Sampah dan Daur Ulang, Pembuangan dan Pembersihan Limbah dan Sampah</a></td><td align="center" style="vertical-align:middle">29</td></tr><tr><td align="left" class="text-decoration-none"><a href="javascript:void(0)" onclick='_sektordetail("6|Konstruksi")'>Konstruksi</a></td><td align="center" style="vertical-align:middle">162</td></tr><tr><td align="left" class="text-decoration-none"><a href="javascript:void(0)" onclick='_sektordetail("7|Perdagangan Besar dan Eceran Reparasi dan Perawatan Mobil dan Sepeda Motor")'>Perdagangan Besar dan Eceran Reparasi dan Perawatan Mobil dan Sepeda Motor</a></td><td align="center" style="vertical-align:middle">5192</td></tr><tr><td align="left" class="text-decoration-none"><a href="javascript:void(0)" onclick='_sektordetail("8|Transportasi dan Pergudangan")'>Transportasi dan Pergudangan</a></td><td align="center" style="vertical-align:middle">42</td></tr><tr><td align="left" class="text-decoration-none"><a href="javascript:void(0)" onclick='_sektordetail("9|Penyediaan Akomodasi dan Penyediaan Makan Minum")'>Penyediaan Akomodasi dan Penyediaan Makan Minum</a></td><td align="center" style="vertical-align:middle">844</td></tr><tr><td align="left" class="text-decoration-none"><a href="javascript:void(0)" onclick='_sektordetail("10|Informasi dan Komunikasi")'>Informasi dan Komunikasi</a></td><td align="center" style="vertical-align:middle">55</td></tr><tr><td align="left" class="text-decoration-none"><a href="javascript:void(0)" onclick='_sektordetail("11|Jasa Keuangan dan Asuransi")'>Jasa Keuangan dan Asuransi</a></td><td align="center" style="vertical-align:middle">20</td></tr><tr><td align="left" class="text-decoration-none"><a href="javascript:void(0)" onclick='_sektordetail("12|Real Estate")'>Real Estate</a></td><td align="center" style="vertical-align:middle">1</td></tr><tr><td align="left" class="text-decoration-none"><a href="javascript:void(0)" onclick='_sektordetail("13|Jasa Profesional, Ilmiah dan Teknis")'>Jasa Profesional, Ilmiah dan Teknis</a></td><td align="center" style="vertical-align:middle">363</td></tr><tr><td align="left" class="text-decoration-none"><a href="javascript:void(0)" onclick='_sektordetail("14|Jasa Persewaan dan Sewa Guna Usaha Tanpa Hak Opsi, Ketenagakerjaan, Agen Perjalanan dan Penunjang Usaha Lainnya")'>Jasa Persewaan dan Sewa Guna Usaha Tanpa Hak Opsi, Ketenagakerjaan, Agen Perjalanan dan Penunjang Usaha Lainnya</a></td><td align="center" style="vertical-align:middle">99</td></tr><tr><td align="left" class="text-decoration-none"><a href="javascript:void(0)" onclick='_sektordetail("15|Administrasi Pemerintahan, Pertahanan dan Jaminan Sosial Wajib")'>Administrasi Pemerintahan, Pertahanan dan Jaminan Sosial Wajib</a></td><td align="center" style="vertical-align:middle">1</td></tr><tr><td align="left" class="text-decoration-none"><a href="javascript:void(0)" onclick='_sektordetail("16|Jasa Pendidikan")'>Jasa Pendidikan</a></td><td align="center" style="vertical-align:middle">16</td></tr><tr><td align="left" class="text-decoration-none"><a href="javascript:void(0)" onclick='_sektordetail("17|Jasa Kesehatan dan Kegiatan Sosial")'>Jasa Kesehatan dan Kegiatan Sosial</a></td><td align="center" style="vertical-align:middle">16</td></tr><tr><td align="left" class="text-decoration-none"><a href="javascript:void(0)" onclick='_sektordetail("18|Kesenian, Hiburan dan Rekreasi")'>Kesenian, Hiburan dan Rekreasi</a></td><td align="center" style="vertical-align:middle">51</td></tr><tr><td align="left" class="text-decoration-none"><a href="javascript:void(0)" onclick='_sektordetail("19|Kegiatan Jasa Lainnya")'>Kegiatan Jasa Lainnya</a></td><td align="center" style="vertical-align:middle">590</td></tr><tr><td align="left" class="text-decoration-none"><a href="javascript:void(0)" onclick='_sektordetail("20|Jasa Perorangan yg Melayani RT, Keg yg Menghasilkan Brg &amp; Jasa oleh RT yg Digunakan Sendiri utk Memenuhi Kebutuhan")'>Jasa Perorangan yg Melayani RT, Keg yg Menghasilkan Brg &amp; Jasa oleh RT yg Digunakan Sendiri utk Memenuhi Kebutuhan</a></td><td align="center" style="vertical-align:middle">77</td></tr></tbody>
</table>

In [2]:
headers = []
for i in table1.find_all('th'):
    header = i.text
    headers.append(header)

headers

['Sektor', 'Jumlah Perusahaan']

In [3]:
import pandas as pd
df_sektor = pd.DataFrame(columns=headers)

In [4]:
for i in table1.find_all('tbody'):
    print(i.text)

Pertanian, Kehutanan, dan Perikanan1108Pertambangan dan Penggalian22Industri Pengolahan4130Pengadaan Listrik, Gas, Uap Air Panas dan Udara Dingin12Pengadaan Air, Pengelolaan Sampah dan Daur Ulang, Pembuangan dan Pembersihan Limbah dan Sampah29Konstruksi162Perdagangan Besar dan Eceran Reparasi dan Perawatan Mobil dan Sepeda Motor5192Transportasi dan Pergudangan42Penyediaan Akomodasi dan Penyediaan Makan Minum844Informasi dan Komunikasi55Jasa Keuangan dan Asuransi20Real Estate1Jasa Profesional, Ilmiah dan Teknis363Jasa Persewaan dan Sewa Guna Usaha Tanpa Hak Opsi, Ketenagakerjaan, Agen Perjalanan dan Penunjang Usaha Lainnya99Administrasi Pemerintahan, Pertahanan dan Jaminan Sosial Wajib1Jasa Pendidikan16Jasa Kesehatan dan Kegiatan Sosial16Kesenian, Hiburan dan Rekreasi51Kegiatan Jasa Lainnya590Jasa Perorangan yg Melayani RT, Keg yg Menghasilkan Brg & Jasa oleh RT yg Digunakan Sendiri utk Memenuhi Kebutuhan77

In [5]:
for j in table1.find_all('tr')[1:]:
    row_data = j.find_all('td')
    row = [i.text for i in row_data]
    length = len(df_sektor)
    print(row)
    df_sektor.loc[length] = row

['Pertanian, Kehutanan, dan Perikanan', '1108']
['Pertambangan dan Penggalian', '22']
['Industri Pengolahan', '4130']
['Pengadaan Listrik, Gas, Uap Air Panas dan Udara Dingin', '12']
['Pengadaan Air, Pengelolaan Sampah dan Daur Ulang, Pembuangan dan Pembersihan Limbah dan Sampah', '29']
['Konstruksi', '162']
['Perdagangan Besar dan Eceran Reparasi dan Perawatan Mobil dan Sepeda Motor', '5192']
['Transportasi dan Pergudangan', '42']
['Penyediaan Akomodasi dan Penyediaan Makan Minum', '844']
['Informasi dan Komunikasi', '55']
['Jasa Keuangan dan Asuransi', '20']
['Real Estate', '1']
['Jasa Profesional, Ilmiah dan Teknis', '363']
['Jasa Persewaan dan Sewa Guna Usaha Tanpa Hak Opsi, Ketenagakerjaan, Agen Perjalanan dan Penunjang Usaha Lainnya', '99']
['Administrasi Pemerintahan, Pertahanan dan Jaminan Sosial Wajib', '1']
['Jasa Pendidikan', '16']
['Jasa Kesehatan dan Kegiatan Sosial', '16']
['Kesenian, Hiburan dan Rekreasi', '51']
['Kegiatan Jasa Lainnya', '590']
['Jasa Perorangan yg Melayani RT, Keg yg Menghasilkan Brg & Jasa oleh RT yg Digunakan Sendiri utk Memenuhi Kebutuhan', '77']

In [6]:
df_sektor = pd.read_csv('df_sektor.csv', index_col=0)
df_sektor

                                               SEKTOR  JML_PERUSAHAAN
0                 Pertanian, Kehutanan, dan Perikanan          1108.0
1                         Pertambangan dan Penggalian            22.0
2                                 Industri Pengolahan          4130.0
3   Pengadaan Listrik, Gas, Uap Air Panas dan Udar...            12.0
4   Pengadaan Air, Pengelolaan Sampah dan Daur Ula...            29.0
5                                          Konstruksi           162.0
6   Perdagangan Besar dan Eceran Reparasi dan Pera...          5192.0
7                        Transportasi dan Pergudangan            42.0
8     Penyediaan Akomodasi dan Penyediaan Makan Minum           844.0
9                            Informasi dan Komunikasi            55.0
10                         Jasa Keuangan dan Asuransi            20.0
11                                        Real Estate             1.0
12                Jasa Profesional, Ilmiah dan Teknis           363.0
13  Jasa Persewaan dan Sewa Guna Usaha Tanpa Hak O...            99.0
14  Administrasi Pemerintahan, Pertahanan dan Jami...             1.0
15                                    Jasa Pendidikan            16.0
16                 Jasa Kesehatan dan Kegiatan Sosial            16.0
17                     Kesenian, Hiburan dan Rekreasi            51.0
18                              Kegiatan Jasa Lainnya           590.0
19  Jasa Perorangan yg Melayani RT, Keg yg Menghas...            77.0

In [7]:
# doc_details = []
# for i in range(df_sektor.shape[0]):
#     print(i+1)
#     driver = webdriver.Chrome()
#     detail_url = 'https://www.bi.go.id/bisaid/bisaid/GetSektorDetail?Condition=ALL%7CALL%7C'+ str(i+1) + '%7C0%7C10'
#     driver.get(url)
#     time.sleep(5)
#     html = driver.page_source
#     soup = BeautifulSoup(html,'html.parser')
#     doc_details.append(soup)

In [8]:
# sektor_details_new = {}
# for k in range(len(doc_details)):
#     print(k)
#     table = doc_details.find('table', id='tb_sektor_detail')
#     headers = []
#     for i in table.find_all('th'):
#         header = i.text
#         headers.append(header)
#     headers.append("Onclick")
#     headers.append("Sektor")
#     df = pd.DataFrame(columns=headers)
#     for j in table.find_all('tr')[1:]:
#         row_data = j.find_all('td')
#         row = [i.text for i in row_data]
#         row_click = ["none"]
#         if(j.find('a') is not None):
#             row_click = [j.find('a').attrs['onclick']]
#             result = re.findall(r"\(\"(.*)[^,]\"", row_click[0])
#             row_click = result[0].split(",")[0][:-1]

#         row.append(row_click)
#         row.append(df_sektor['SEKTOR'][k])
#         length = len(df)
#         if len(row) == len(headers):
#             df.loc[length] = row
#     sektor_details_new[k] = df

In [9]:
docs_details = []
for i in range(len(df_sektor)):
    docs_details.append(pd.read_csv('output/sektor_details_'+str(i)+'_4.csv', index_col=0))

In [10]:
docs_details[0]

,Usaha /Produk Utama,Total Aset (Rp. Juta),Penjualan Rata-rata Per Tahun (Rp.Juta),Jumlah Tenaga Kerja,Tahun Survey,Onclick,Sektor
Nama Perusahaan/Nama Pengusaha,,,,,,,
Kios Peracangan,Pupuk,361,325,1,2012,?pm=w+TTKcEqnkNI9YbhGbMmvQ==&mp=p1ca+Y2BZCwOZV...,"Pertanian, Kehutanan, dan Perikanan"
CANDRA KIRANA,Rumah Makan Ikan Bakar,883,"339,99",15,2011,?pm=CA08PINKsin/6alrAeDstw==&mp=Bjv3m4lcInn46O...,"Pertanian, Kehutanan, dan Perikanan"
Kangkung Gn IV,Kebun,"201,7",3,2,2013,?pm=YBRDVhPEXPvgyjIf8iKi3Q==&mp=fOhzApotY5QnAt...,"Pertanian, Kehutanan, dan Perikanan"
Petani Karet,Perkebunan Karet,"22,5",9,1,2014,?pm=4kARD7cKc9cXw4CeMceHUA==&mp=xI6rAeQkygTAn3...,"Pertanian, Kehutanan, dan Perikanan"
Pekebun,Tanah Palawija,"91,1","44,4",1,2014,?pm=E1ITtDbwqRPZuksVEFmwew==&mp=xI6rAeQkygTAn3...,"Pertanian, Kehutanan, dan Perikanan"
...,...,...,...,...,...,...,...
Ternak Ayam Kampung,Ternak Ayam Kampung,"41,5",144,1,2014,?pm=tuGcLxtBR4df525nOXhaew==&mp=xI6rAeQkygTAn3...,"Pertanian, Kehutanan, dan Perikanan"
Petani Padi,Petani Padi,"54,72",27,1,2016,?pm=nfW29lHUm+FcxRtIESDWBQ==&mp=5JdvraNzQnzSzI...,"Pertanian, Kehutanan, dan Perikanan"
Petani Padi,Petani Padi,"50,5","47,25",2,2016,?pm=+lldrrWsa5pGtTMoqbCIUg==&mp=5JdvraNzQnzSzI...,"Pertanian, Kehutanan, dan Perikanan"
Petani Sayur,Sayur,"5,2","9,6",2,2016,?pm=0pWUBVTwHGxUWmXXkN6dVQ==&mp=5JdvraNzQnzSzI...,"Pertanian, Kehutanan, dan Perikanan"
Sanusi,Perikanan,"18,9",52,2,2018,?pm=yBb1jo897LzR2Ucz0Y1GTQ==&mp=tFF9KAXBbci/Ue...,"Pertanian, Kehutanan, dan Perikanan"

In [11]:
sum_df = 0
for i in range(len(docs_details)):
    sum_df += docs_details[i].shape[0]
    print(docs_details[i].shape[0], end=" ")
print('\n', sum_df)

257 1 1082 5 7 13 1105 3 272 9 4 0 78 16 0 2 5 11 108 20
 2998

In [21]:
docs_details[0].columns.values.tolist()

['Usaha /Produk Utama',
 'Total Aset (Rp. Juta)',
 'Penjualan Rata-rata Per Tahun (Rp.Juta)',
 'Jumlah Tenaga Kerja',
 'Tahun Survey',
 'Onclick',
 'Sektor']

In [ ]:
import csv
from csv import writer

new_headers = ["Nama Badan Hukum", "Jumlah Tenaga Kerja", "Sistem Penjualan", "Target Pasar Utama : Produk Masal", "Target Pasar Utama : Produk Spesifik", "Tingkat Pesaing Usaha", "Total Aset", "Penjualan Rata-Rata per Tahun", "Proyeksi Pertumbuhan Penjualan", "Kebutuhan Pembiayaan Kredit ", "Nilai Aset yang data menjadi jaminan kredit", "Jumlah Dokumen Persyaratan Kredit"]
additional_columns = {}
for key in new_headers:
    additional_columns[key] = []
last = 0
# for i in range(len(docs_details)):
for i in list(range(7, 20)):
    print("docs_details", i)
    with open('output/docs_details_'+str(i)+'.csv', 'a') as file:
        writer = csv.writer(file)
#         writer.writerow(docs_details[i].columns.values.tolist() + new_headers)
        base_url = 'https://www.bi.go.id/bisaid/bisaid/Detail'
        for j in range(len(docs_details[i])):
#             if j > 92:
            detail_url = base_url + docs_details[i]['Onclick'][j]
            print(j, end=",")
            last = j
            page = requests.get(detail_url)
            soup = BeautifulSoup(page.content, 'html.parser')
            table_detail = soup.find('div', {"class": "table-responsive"}).find('tbody')
            rows = docs_details[i].iloc[j].values.flatten().tolist()
            for k in table_detail.find_all('tr'):
                row_data = k.find_all('td')
                row = [i.text for i in row_data]  
                rows.append(row[3])
            writer.writerow(rows)
#             print(rows)
            if j%25 == 0:
                time.sleep(3)

docs_details 7
0,1,2,docs_details 8
0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,

In [29]:
list(range(7, 20))

[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
# for i in range(len(sektor_details_new)):
#     sektor_details_new[i].to_csv('output/sektor_details_new'+str(i)+'.csv',index=False)

In [199]:
# detail_dfs = pd.DataFrame()
# for i in range(len(sektor_details)):
#     detail_df = pd.read_csv('output/sektor_details_'+str(i)+'_4.csv')
#     if i == 0:
#         detail_dfs = detail_df
#     else:
#         pd.concat([detail_dfs, detail_df])

In [201]:
# detail_dfs.to_csv('output/sektor_details_all.csv',index=False)

In [ ]:
# detail_dfs.shape

In [236]:
# trial to get detail page
base_url = 'https://www.bi.go.id/bisaid/bisaid/Detail'
detail_url = base_url + sektor_details[0]['Onclick'][0]
print(detail_url)

page = requests.get(detail_url)
soup = BeautifulSoup(page.content, 'html.parser')
table_detail = soup.find('div', {"class": "table-responsive"}).find('tbody')
for j in table_detail.find_all('tr'):
    row_data = j.find_all('td')
    row = [i.text for i in row_data]
    print(row)

https://www.bi.go.id/bisaid/bisaid/Detail?pm=w+TTKcEqnkNI9YbhGbMmvQ==&mp=p1ca+Y2BZCwOZVEqm2oXjA==
['1.', 'Nama Badan Hukum', ':', 'Perorangan']
['2.', 'Jumlah Tenaga Kerja', ':', '1']
['3.', 'Sistem Penjualan', ':', 'Retail']
['4.', 'Target Pasar Utama : Produk Masal', ':', 'Masyarakat Gol Bawah (penghasilan sd 5 juta/bulan) \xa0 100,00\xa0%']
['5.', 'Target Pasar Utama : Produk Spesifik', ':', 'Tidak Ada \xa0 0,00\xa0%']
['6.', 'Tingkat Pesaing Usaha', ':', 'Rendah']
['7.', 'Total Aset', ':', 'Rp. 361,00 Juta']
['8.', 'Penjualan Rata-Rata per Tahun', ':', 'Rp. 325,00 Juta']
['9.', 'Proyeksi Pertumbuhan Penjualan', ':', '25 %/Tahun']
['10.', 'Kebutuhan Pembiayaan Kredit ', ':', 'Rp. 6,00 Juta']
['11.', 'Nilai Aset yang data menjadi jaminan kredit', ':', 'Rp. 0,00 Juta']
['12.', 'Jumlah Dokumen Persyaratan Kredit', ':', '5']

In [165]:
# # trial regex to get url
# result = re.findall(r"\(\"(.*)[^,]\"", sektor_details[0]['Onclick'][0][0])
# result[0].split(",")[0][:-1]

'?pm=w+TTKcEqnkNI9YbhGbMmvQ==&mp=p1ca+Y2BZCwOZVEqm2oXjA=='

In [133]:
# sektor_details[0]['Onclick'][0][0]

'_pengusahadetail("?pm=w+TTKcEqnkNI9YbhGbMmvQ==&mp=p1ca+Y2BZCwOZVEqm2oXjA==","Kios Peracangan")'

In [53]:
# df_doc_details.to_csv('df_doc_details.csv')

# Trials

In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
url = 'https://www.bi.go.id/bisaid/bisaid/GetSektor?Condition=%7C'
page = requests.get(url)
page_json = page.json()
page_json

[{'KODE_SEKTOR': 1.0,
  'SEKTOR': 'Pertanian, Kehutanan, dan Perikanan',
  'JML_PERUSAHAAN': 1108.0},
 {'KODE_SEKTOR': 2.0,
  'SEKTOR': 'Pertambangan dan Penggalian',
  'JML_PERUSAHAAN': 22.0},
 {'KODE_SEKTOR': 3.0,
  'SEKTOR': 'Industri Pengolahan',
  'JML_PERUSAHAAN': 4130.0},
 {'KODE_SEKTOR': 4.0,
  'SEKTOR': 'Pengadaan Listrik, Gas, Uap Air Panas dan Udara Dingin',
  'JML_PERUSAHAAN': 12.0},
 {'KODE_SEKTOR': 5.0,
  'SEKTOR': 'Pengadaan Air, Pengelolaan Sampah dan Daur Ulang, Pembuangan dan Pembersihan Limbah dan Sampah',
  'JML_PERUSAHAAN': 29.0},
 {'KODE_SEKTOR': 6.0, 'SEKTOR': 'Konstruksi', 'JML_PERUSAHAAN': 162.0},
 {'KODE_SEKTOR': 7.0,
  'SEKTOR': 'Perdagangan Besar dan Eceran Reparasi dan Perawatan Mobil dan Sepeda Motor',
  'JML_PERUSAHAAN': 5192.0},
 {'KODE_SEKTOR': 8.0,
  'SEKTOR': 'Transportasi dan Pergudangan',
  'JML_PERUSAHAAN': 42.0},
 {'KODE_SEKTOR': 9.0,
  'SEKTOR': 'Penyediaan Akomodasi dan Penyediaan Makan Minum',
  'JML_PERUSAHAAN': 844.0},
 {'KODE_SEKTOR': 10.0,
  'SEKTOR': 'Informasi dan Komunikasi',
  'JML_PERUSAHAAN': 55.0},
 {'KODE_SEKTOR': 11.0,
  'SEKTOR': 'Jasa Keuangan dan Asuransi',
  'JML_PERUSAHAAN': 20.0},
 {'KODE_SEKTOR': 12.0, 'SEKTOR': 'Real Estate', 'JML_PERUSAHAAN': 1.0},
 {'KODE_SEKTOR': 13.0,
  'SEKTOR': 'Jasa Profesional, Ilmiah dan Teknis',
  'JML_PERUSAHAAN': 363.0},
 {'KODE_SEKTOR': 14.0,
  'SEKTOR': 'Jasa Persewaan dan Sewa Guna Usaha Tanpa Hak Opsi, Ketenagakerjaan, Agen Perjalanan dan Penunjang Usaha Lainnya',
  'JML_PERUSAHAAN': 99.0},
 {'KODE_SEKTOR': 15.0,
  'SEKTOR': 'Administrasi Pemerintahan, Pertahanan dan Jaminan Sosial Wajib',
  'JML_PERUSAHAAN': 1.0},
 {'KODE_SEKTOR': 16.0, 'SEKTOR': 'Jasa Pendidikan', 'JML_PERUSAHAAN': 16.0},
 {'KODE_SEKTOR': 17.0,
  'SEKTOR': 'Jasa Kesehatan dan Kegiatan Sosial',
  'JML_PERUSAHAAN': 16.0},
 {'KODE_SEKTOR': 18.0,
  'SEKTOR': 'Kesenian, Hiburan dan Rekreasi',
  'JML_PERUSAHAAN': 51.0},
 {'KODE_SEKTOR': 19.0,
  'SEKTOR': 'Kegiatan Jasa Lainnya',
  'JML_PERUSAHAAN': 590.0},
 {'KODE_SEKTOR': 20.0,
  'SEKTOR': 'Jasa Perorangan yg Melayani RT, Keg yg Menghasilkan Brg & Jasa oleh RT yg Digunakan Sendiri utk Memenuhi Kebutuhan',
  'JML_PERUSAHAAN': 77.0}]

In [3]:
df_sektor = pd.DataFrame(page_json)[['SEKTOR', 'JML_PERUSAHAAN']]
print(df_sektor.shape)
# df_sektor.to_csv('df_sektor.csv')
df_sektor

(20, 2)

                                               SEKTOR  JML_PERUSAHAAN
0                 Pertanian, Kehutanan, dan Perikanan          1108.0
1                         Pertambangan dan Penggalian            22.0
2                                 Industri Pengolahan          4130.0
3   Pengadaan Listrik, Gas, Uap Air Panas dan Udar...            12.0
4   Pengadaan Air, Pengelolaan Sampah dan Daur Ula...            29.0
5                                          Konstruksi           162.0
6   Perdagangan Besar dan Eceran Reparasi dan Pera...          5192.0
7                        Transportasi dan Pergudangan            42.0
8     Penyediaan Akomodasi dan Penyediaan Makan Minum           844.0
9                            Informasi dan Komunikasi            55.0
10                         Jasa Keuangan dan Asuransi            20.0
11                                        Real Estate             1.0
12                Jasa Profesional, Ilmiah dan Teknis           363.0
13  Jasa Persewaan dan Sewa Guna Usaha Tanpa Hak O...            99.0
14  Administrasi Pemerintahan, Pertahanan dan Jami...             1.0
15                                    Jasa Pendidikan            16.0
16                 Jasa Kesehatan dan Kegiatan Sosial            16.0
17                     Kesenian, Hiburan dan Rekreasi            51.0
18                              Kegiatan Jasa Lainnya           590.0
19  Jasa Perorangan yg Melayani RT, Keg yg Menghas...            77.0

In [4]:
list_detail = []
for i in range(0, df_sektor.shape[0]):
#     print(i+1)
    detail_url = 'https://www.bi.go.id/bisaid/bisaid/GetSektorDetail?Condition=ALL%7CALL%7C'+ str(i+1) + '%7C0%7C10'
    list_temp = requests.get(detail_url).json()
    
    if 'result' not in list_temp:
        if i == 0:
            list_detail = list_temp
        else:
            list_detail = list_detail + list_temp

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [5]:
df_detail = pd.DataFrame(list_detail)
# df_detail.to_csv('df_detail.csv')
df_detail

,KODE_REFF,TAHUN_PENELITIAN,NAMA,PENGUSAHA,KABUPATEN,PROVINSI,USAHA_UTAMA,PRODUK_UTAMA,SEKTOR,TENAGA_KERJA,TOTAL_ASET,PENJUALAN_TAHUN,KEBUTUHAN_PEMBIAYAAN
0,35100024,2012,Kios Peracangan,Ainah,3510,1200,Pupuk,Pupuk Urea Dan Ponstan Dll,1.0,1.0,361.00,325.00,6.0
1,36030154,2011,CANDRA KIRANA,M.barmawi,3671,0200,Rumah Makan Ikan Bakar,Ikan Bakar,1.0,15.0,883.00,339.99,0.0
2,64710457,2013,Kangkung Gn IV,Sudjito,6471,5400,Kebun,Kangkung,1.0,2.0,201.70,3.00,10.0
3,64010090,2014,Petani Karet,Harnani,6401,5400,Perkebunan Karet,Karet,1.0,1.0,22.50,9.00,10.0
4,11080178,2014,Pekebun,Yulinar,1111,3200,Tanah Palawija,Bibit,1.0,1.0,91.10,44.40,5.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2993,64710751,2015,Es Cream,Yoto,6471,5400,Es Cream,Es Cream,20.0,1.0,65.26,16.50,10.0
2994,19050001,2015,Kinyang Workshop,Taufan Dwi Darmawan,1903,3700,Kerajinan Batu Akik,Batu Akik,20.0,1.0,60.00,180.00,10.0
2995,15710100,2014,Chania Tailor,Adriansyah Chan,1571,3100,Penjahit,Jasa Menjahit,20.0,1.0,84.00,24.00,10.0
2996,15710139,2014,Penjahit Baju Wanita Yusmawati,Yusmawati,1571,3100,Menjahit Pakaian,Baju Hasil Jahitan,20.0,1.0,101.40,72.00,0.0
2997,15040066,2014,Loundry Tri,Tri Widiastuti,1504,3100,Loundry,Pakaian Bersih,20.0,2.0,13.30,18.00,7.0

In [6]:
import numpy as np
np.set_printoptions(threshold=np.inf)
print(df_detail['SEKTOR'].unique())

[ 1.  2.  3.  4.  5.  6.  7.  8.  9. 10. 11. 13. 14. 16. 17. 18. 19. 20.]