In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [33]:
url = 'https://www.bi.go.id/bisaid/bisaid/GetSektor?Condition=%7C'
page = requests.get(url)
page_json = page.json()
page_json

[{'KODE_SEKTOR': 1.0,
  'SEKTOR': 'Pertanian, Kehutanan, dan Perikanan',
  'JML_PERUSAHAAN': 1108.0},
 {'KODE_SEKTOR': 2.0,
  'SEKTOR': 'Pertambangan dan Penggalian',
  'JML_PERUSAHAAN': 22.0},
 {'KODE_SEKTOR': 3.0,
  'SEKTOR': 'Industri Pengolahan',
  'JML_PERUSAHAAN': 4130.0},
 {'KODE_SEKTOR': 4.0,
  'SEKTOR': 'Pengadaan Listrik, Gas, Uap Air Panas dan Udara Dingin',
  'JML_PERUSAHAAN': 12.0},
 {'KODE_SEKTOR': 5.0,
  'SEKTOR': 'Pengadaan Air, Pengelolaan Sampah dan Daur Ulang, Pembuangan dan Pembersihan Limbah dan Sampah',
  'JML_PERUSAHAAN': 29.0},
 {'KODE_SEKTOR': 6.0, 'SEKTOR': 'Konstruksi', 'JML_PERUSAHAAN': 162.0},
 {'KODE_SEKTOR': 7.0,
  'SEKTOR': 'Perdagangan Besar dan Eceran Reparasi dan Perawatan Mobil dan Sepeda Motor',
  'JML_PERUSAHAAN': 5192.0},
 {'KODE_SEKTOR': 8.0,
  'SEKTOR': 'Transportasi dan Pergudangan',
  'JML_PERUSAHAAN': 42.0},
 {'KODE_SEKTOR': 9.0,
  'SEKTOR': 'Penyediaan Akomodasi dan Penyediaan Makan Minum',
  'JML_PERUSAHAAN': 844.0},
 {'KODE_SEKTOR': 10.0,
  'SEKTOR': 'Informasi dan Komunikasi',
  'JML_PERUSAHAAN': 55.0},
 {'KODE_SEKTOR': 11.0,
  'SEKTOR': 'Jasa Keuangan dan Asuransi',
  'JML_PERUSAHAAN': 20.0},
 {'KODE_SEKTOR': 12.0, 'SEKTOR': 'Real Estate', 'JML_PERUSAHAAN': 1.0},
 {'KODE_SEKTOR': 13.0,
  'SEKTOR': 'Jasa Profesional, Ilmiah dan Teknis',
  'JML_PERUSAHAAN': 363.0},
 {'KODE_SEKTOR': 14.0,
  'SEKTOR': 'Jasa Persewaan dan Sewa Guna Usaha Tanpa Hak Opsi, Ketenagakerjaan, Agen Perjalanan dan Penunjang Usaha Lainnya',
  'JML_PERUSAHAAN': 99.0},
 {'KODE_SEKTOR': 15.0,
  'SEKTOR': 'Administrasi Pemerintahan, Pertahanan dan Jaminan Sosial Wajib',
  'JML_PERUSAHAAN': 1.0},
 {'KODE_SEKTOR': 16.0, 'SEKTOR': 'Jasa Pendidikan', 'JML_PERUSAHAAN': 16.0},
 {'KODE_SEKTOR': 17.0,
  'SEKTOR': 'Jasa Kesehatan dan Kegiatan Sosial',
  'JML_PERUSAHAAN': 16.0},
 {'KODE_SEKTOR': 18.0,
  'SEKTOR': 'Kesenian, Hiburan dan Rekreasi',
  'JML_PERUSAHAAN': 51.0},
 {'KODE_SEKTOR': 19.0,
  'SEKTOR': 'Kegiatan Jasa Lainnya',
  'JML_PERUSAHAAN': 590.0},
 {'KODE_SEKTOR': 20.0,
  'SEKTOR': 'Jasa Perorangan yg Melayani RT, Keg yg Menghasilkan Brg & Jasa oleh RT yg Digunakan Sendiri utk Memenuhi Kebutuhan',
  'JML_PERUSAHAAN': 77.0}]

In [46]:
df_sektor = pd.DataFrame(page_json)[['SEKTOR', 'JML_PERUSAHAAN']]
print(df_sektor.shape)
df_sektor

(20, 2)

                                               SEKTOR  JML_PERUSAHAAN
0                 Pertanian, Kehutanan, dan Perikanan          1108.0
1                         Pertambangan dan Penggalian            22.0
2                                 Industri Pengolahan          4130.0
3   Pengadaan Listrik, Gas, Uap Air Panas dan Udar...            12.0
4   Pengadaan Air, Pengelolaan Sampah dan Daur Ula...            29.0
5                                          Konstruksi           162.0
6   Perdagangan Besar dan Eceran Reparasi dan Pera...          5192.0
7                        Transportasi dan Pergudangan            42.0
8     Penyediaan Akomodasi dan Penyediaan Makan Minum           844.0
9                            Informasi dan Komunikasi            55.0
10                         Jasa Keuangan dan Asuransi            20.0
11                                        Real Estate             1.0
12                Jasa Profesional, Ilmiah dan Teknis           363.0
13  Jasa Persewaan dan Sewa Guna Usaha Tanpa Hak O...            99.0
14  Administrasi Pemerintahan, Pertahanan dan Jami...             1.0
15                                    Jasa Pendidikan            16.0
16                 Jasa Kesehatan dan Kegiatan Sosial            16.0
17                     Kesenian, Hiburan dan Rekreasi            51.0
18                              Kegiatan Jasa Lainnya           590.0
19  Jasa Perorangan yg Melayani RT, Keg yg Menghas...            77.0

In [56]:
df_detail = pd.DataFrame()
for i in range(df_sektor.shape[0]):
    print(i+1)
    if i == 13:
        continue
    else:
        detail_url = 'https://www.bi.go.id/bisaid/bisaid/GetSektorDetail?Condition=ALL%7CALL%7C'+ str(i+1) + '%7C0%7C10'
        df_temp = pd.DataFrame(requests.get(detail_url).json())
        if i == 0:
            df_detail = df_temp
        else:
            pd.concat([df_detail, df_temp])

1
2
3
4
5
6
7
8
9
10
11
12

ValueError: If using all scalar values, you must pass an index

In [55]:
df_detail

,KODE_REFF,TAHUN_PENELITIAN,NAMA,PENGUSAHA,KABUPATEN,PROVINSI,USAHA_UTAMA,PRODUK_UTAMA,SEKTOR,TENAGA_KERJA,TOTAL_ASET,PENJUALAN_TAHUN,KEBUTUHAN_PEMBIAYAAN
0,92710018,2012,Pangkas Rambut Hidayah,Sulaiman,9171,8400,Pangkas Rambut,Pangkas Rambut,13.0,2.0,60.00,48.0,4.0
1,92710081,2012,Victory Salon,Vemy Taroreh,9171,8400,Jasa Salon,Salon Dan Rias Pengantin,13.0,3.0,20.00,132.0,0.0
2,33050015,2009,Sari Tailor,Sugiyanto,3305,0900,Penjahit,Penjahit,13.0,6.0,54.00,40.0,6.0
3,12230093,2011,DIAN KURSUS,DIAN,1223,3300,KURSUS MENJAHIT,MENJAHIT,13.0,1.0,15.86,14.4,8.0
4,12740026,2011,PAY BK,M. ILYAS FAISAL BATU BARA,1272,3300,PLAT BK,PLAT BK,13.0,2.0,68.71,87.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,64710922,2016,Hidayat Collection,Syarif Hidayat,6471,5400,Penjahit,Pakaian,13.0,1.0,4.80,144.0,7.2
74,64710924,2016,Ramayana Tailor,Arsuni,6471,5400,Penjahit,Pakaian,13.0,4.0,390.20,630.0,7.5
75,64710928,2016,Percetakan Nabilla Mode,Noor Evawatik,6471,5400,Stempel,Stempel,13.0,3.0,18.00,300.0,9.0
76,64710932,2016,Rosilla Salon,Siti Aminah,6471,5400,Salon Rambut,Salon Rambut,13.0,1.0,209.55,216.0,5.0
77,64090176,2016,Tailor Arto Moro,Sarman,6409,5400,Penjahit,Kain Dan Pakaian,13.0,2.0,33.00,24.0,9.5

In [44]:
for i in range(len)
detail_url = 'https://www.bi.go.id/bisaid/bisaid/GetSektorDetail?Condition=ALL%7CALL%7C1%7C0%7C10'
pd.DataFrame(requests.get(detail_url).json())

ValueError: If using all scalar values, you must pass an index

In [25]:
soup = BeautifulSoup(page.text, 'lxml')
soup

<html><body><p>[{"KODE_SEKTOR":1.0,"SEKTOR":"Pertanian, Kehutanan, dan Perikanan","JML_PERUSAHAAN":1108.0},{"KODE_SEKTOR":2.0,"SEKTOR":"Pertambangan dan Penggalian","JML_PERUSAHAAN":22.0},{"KODE_SEKTOR":3.0,"SEKTOR":"Industri Pengolahan","JML_PERUSAHAAN":4130.0},{"KODE_SEKTOR":4.0,"SEKTOR":"Pengadaan Listrik, Gas, Uap Air Panas dan Udara Dingin","JML_PERUSAHAAN":12.0},{"KODE_SEKTOR":5.0,"SEKTOR":"Pengadaan Air, Pengelolaan Sampah dan Daur Ulang, Pembuangan dan Pembersihan Limbah dan Sampah","JML_PERUSAHAAN":29.0},{"KODE_SEKTOR":6.0,"SEKTOR":"Konstruksi","JML_PERUSAHAAN":162.0},{"KODE_SEKTOR":7.0,"SEKTOR":"Perdagangan Besar dan Eceran Reparasi dan Perawatan Mobil dan Sepeda Motor","JML_PERUSAHAAN":5192.0},{"KODE_SEKTOR":8.0,"SEKTOR":"Transportasi dan Pergudangan","JML_PERUSAHAAN":42.0},{"KODE_SEKTOR":9.0,"SEKTOR":"Penyediaan Akomodasi dan Penyediaan Makan Minum","JML_PERUSAHAAN":844.0},{"KODE_SEKTOR":10.0,"SEKTOR":"Informasi dan Komunikasi","JML_PERUSAHAAN":55.0},{"KODE_SEKTOR":11.0,"SEKTOR":"Jasa Keuangan dan Asuransi","JML_PERUSAHAAN":20.0},{"KODE_SEKTOR":12.0,"SEKTOR":"Real Estate","JML_PERUSAHAAN":1.0},{"KODE_SEKTOR":13.0,"SEKTOR":"Jasa Profesional, Ilmiah dan Teknis","JML_PERUSAHAAN":363.0},{"KODE_SEKTOR":14.0,"SEKTOR":"Jasa Persewaan dan Sewa Guna Usaha Tanpa Hak Opsi, Ketenagakerjaan, Agen Perjalanan dan Penunjang Usaha Lainnya","JML_PERUSAHAAN":99.0},{"KODE_SEKTOR":15.0,"SEKTOR":"Administrasi Pemerintahan, Pertahanan dan Jaminan Sosial Wajib","JML_PERUSAHAAN":1.0},{"KODE_SEKTOR":16.0,"SEKTOR":"Jasa Pendidikan","JML_PERUSAHAAN":16.0},{"KODE_SEKTOR":17.0,"SEKTOR":"Jasa Kesehatan dan Kegiatan Sosial","JML_PERUSAHAAN":16.0},{"KODE_SEKTOR":18.0,"SEKTOR":"Kesenian, Hiburan dan Rekreasi","JML_PERUSAHAAN":51.0},{"KODE_SEKTOR":19.0,"SEKTOR":"Kegiatan Jasa Lainnya","JML_PERUSAHAAN":590.0},{"KODE_SEKTOR":20.0,"SEKTOR":"Jasa Perorangan yg Melayani RT, Keg yg Menghasilkan Brg \u0026 Jasa oleh RT yg Digunakan Sendiri utk Memenuhi Kebutuhan","JML_PERUSAHAAN":77.0}]</p></body></html>

In [28]:
table1 = soup.find('table', id='tb_sektor')
table1

In [27]:
headers = []
for i in table1.find_all('th'):
    header = i.text
    headers.append(header)
    
headers

AttributeError: 'NoneType' object has no attribute 'find_all'

In [11]:
df = pd.DataFrame(columns=headers)

In [15]:
for i in table1.find_all('tbody'):
    print(i.text)

In [21]:
for j in table1.find_all('tr')[1:]:
    row_data = j.find_all('td')
    row = [i.text for i in row_data]
    length = len(df)
    print(row)
    df.loc[length] = row

In [23]:
table = pd.read_html(url)
print(table[2])

                0   1                          2   3  \
0  s.d Rp 10 JUTA NaN  Rp 10 JUTA s.d Rp 50 JUTA NaN

                            4   5              6
0  Rp 50 JUTA s.d Rp 100 JUTA NaN  > Rp 100 JUTA